<?xml version="1.0" encoding="UTF-8"?>
<suite name="DemoAutomationSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>
    <test name="DemoAutomationTest">
        <classes>
            <class name="DemoTask" />
        </classes>
    </test>
</suite>